<div class="wrapper">
<div id="banner"><div id="min_hand"></div><div id="hour_hand"></div></div>
	<div id="comic_area" class="clearfix">
		<div class="archive_area">
			Nothing... A whole lot of nothing....
		</div>
	</div>
</div>