html { 
	background: url("http://s3.amazonaws.com/SAR_comic/asset_3.jpg") repeat 0 0 transparent;
	margin: 0 auto;
	body {
		background: url("http://s3.amazonaws.com/SAR_comic/asset_4.jpg") repeat-x 0 0 transparent;
	}
}
#banner{
	background: url("http://s3.amazonaws.com/SAR_comic/asset_2.jpg") no-repeat 0 0 transparent;
	width: 1024px;
	height: 485px;
}
h1 {
	background: url("http://s3.amazonaws.com/SAR_comic/asset_7.png") no-repeat 0 0 transparent;
	width: 600px;
	height: 49px;
	text-indent: -9999px;
	overflow: hidden;
	margin: -42px auto 0;
}