html { 
	background: url("http://s3.amazonaws.com/SAR_comic/asset_6.jpg") repeat 0 0 transparent;
	margin: 0 auto;
	body {
		background: url("http://s3.amazonaws.com/SAR_comic/asset_1.jpg") repeat-x 0 0 transparent;
	}
}
#banner{
	background: url("http://s3.amazonaws.com/SAR_comic/asset_5.jpg") no-repeat 0 0 transparent;
	width: 1024px;
	height: 485px;
}